body{
    background-color: black;
    color: yellow;
    font-size: 26px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}
.slideshow{
    display: flex;
    max-width: 1140px;
}
.imagens{
    flex: 1;

}
.imagens img{
    margin-right: 40px;
    width: 210px;
    height: auto;
}
